# Development tools.
black==23.12.1
flake8==6.1.0
flake8-black==0.3.6
flake8-bugbear==23.12.2
flake8-docstrings==1.7.0
flake8-isort==6.1.1
isort==5.13.2
pep8-naming==0.13.3
pycodestyle==2.11.1
pydoclint==0.3.8
pyflakes==3.1.0
